* {-moz-box-sizing: border-box; box-sizing: border-box;}

html{
    height: 100%;
    margin: 0;
}
body{
    margin: 0;
}

/*_______________   NAVBAR  ________________*/

.navbar{
    position: fixed;
    display: flex;
    top: 0;
    left: 0;
    width: 100%;
    height: 50px;
    background-color: black;
    margin: 0;
    padding: 0;
    text-align: center;
}


.navbar span{
    margin-left: 15%;
    margin-top: 15px;
}

.nav{
    margin-left: 40%;
    text-align: center;
    list-style: none;
}

.nav li{
display: inline-block;
padding-left: 40px;
}


.nav a{
    width: 60px;
    text-decoration: none;
    color: white;
    font-family: "Arvo";
    font-size: 16px;
}

/*_______________   NAVBAR  ________________*/

.home{
    background: url(../images/hero-image.jpg);
    display: flex;
    align-content: center;
    justify-content: space-around;
    left: 0;
    width: 100%;
    height: 80vh;
}

.content{
    position: absolute;
    text-align: center;
    margin-top: 5%;
    width: 70%;
    height: 80%;
    font-family: "Arvo";
    color: white;
    font-size: 20px;
}
.content h1{
    font-size: 60px;
}

.content button{
    width: 15%;
    height: 5%;
    margin-top: 3%;
    background-color: red;
    border: none;
    border-radius: 3px;
}

.content img{
    margin-top: 3%;
}


/*_______________   NAVBAR  ________________*/


/*_______________   NAVBAR  ________________*/


/*_______________   NAVBAR  ________________*/


/*_______________   NAVBAR  ________________*/