* {-moz-box-sizing: border-box; box-sizing: border-box;}

html{
    height: 100%;
}

/*_______________   NAVBAR  ________________*/

nav{
    display: inline-block;
    width: 100%;
    background-color: black;
    margin: 0;
    padding: 0;
    justify-content: center;
}

.logo{
    width: 50%;
    left: 0;
}

.logo a{
    margin-left: 50%;
    font-family: "Arvo";
    font-size: 20px;
}

.nav{
    width: 50%;
    margin-left: 50%;
}

.nav a{
    font-family: "Arvo";
    font-size: 14px;
}
/*_______________   NAVBAR  ________________*/


/*_______________   NAVBAR  ________________*/


/*_______________   NAVBAR  ________________*/


/*_______________   NAVBAR  ________________*/


/*_______________   NAVBAR  ________________*/